
@{
    ViewData["Title"] = "Index";
}
@model IList<StudentViewModel>
<div class="row">
    <div class="col-md-12">

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>BirthDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.BirthDate</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>

